name: Build
on: [push, pull_request]


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Use Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install dependencies
        run: npm install
      - name: Linter
        run: |
          npm run js:lint
          npm run lint
      - name: Build
        run: npm run build
